<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <link href="style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body >
   
    <div class=" container-fluid" >
        <div class="row " >
            <div class="col-12 d-flex justify-content-center">
                <h1 class="mt-5" id="nombreMapa">MapName</h1>
            </div>
        </div>
        <div class="card col-md-10 mt-5 mx-auto"  style="background-color: #495057; ">
            <div class="row col-md-11 mt-5 mx-auto " >
                <div class="col-2 border" >
                    <h5 class="pt-2 d-flex justify-content-center"  id="tipoPartida">Tipo de Partida</h5>
                </div>
                <div class="col-10 border" >
                 <h5 class="pt-2 "  id="UserName">Nombre</h5>
             </div>
             </div>
             <div class="row  col-md-11  mx-auto " >
                 <div class="col-6 border" >
                     <h5 class="pt-2 d-flex justify-content-center " id="puntosCT">CT</h5>
                 </div>
                 <div class="col-6 border" >
                  <h5 class="pt-2 d-flex justify-content-center" id="puntosT">T</h5>
              </div>
              </div>
              <div class="row  col-md-11  mx-auto " >
                 <div class="col-12 border" >
                     <h5 class="pt-5 mb-5 d-flex justify-content-center" id="RondaActual">Ronda Actual</h5>
                     <div class="col-2 mx-auto" >
                         <h5 class=" d-flex justify-content-center border">00:00</h5>
                         
                     </div>
                 </div>  
              </div>
     
              <div class="row pt-4  col-md-11  mx-auto  ">
                 <div class="col-12 border">
  
                     <h5 class="pt-2 d-flex justify-content-center " id="arma1">Arma 1</h5>
                     <img class="rounded mx-auto d-block" id="gun_img" width="230px" height="100px"></img>
                     <div class="col-2 mx-auto" >
                        <h5 class=" d-flex justify-content-center border" id="ammo">Ammo</h5>
                        
                    </div>
                 </div>
                
              </div>
              <div class="row col-md-11 mb-4  mx-auto border  ">
                 <div class="col-12" >
                     <h5 class="pt-2 d-flex justify-content-center">Gagdet</h5>
                 </div>
                
              </div>

        </div>
 

         <div class="row pt-4  col-md-11  mx-auto  ">
            <div class=" col-4 d-flex justify-content-center   ">
                <canvas id="myChart" style=" height:120px; width:180px"></canvas>
             
            </div>
              <div class=" col-4 d-flex justify-content-center   ">
              <h1>test2</h1>
            </div> 
            <div class=" col-4  d-flex justify-content-center  ">
                <h1>test3</h1>
              </div>  
              </div>
            
             
         </div>

         
        
       

         
    </div>


        
        
    
    <script type="text/javascript" src="weapons_ico.js"></script>  
    <script type="text/javascript" src="chart.js"></script>
   
</body>
</html>