<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class=".bg-primary.bg-gradient">
  
  <h1 id="activity"></h1>
  <h2 id="dato"></h2>
  <h3 id="ammo"></h3>
  <h3 id=""><%= idPlayer %></h3>

  <table border="1">
    <tr>
      <th>Mapa</th>
      <th>Tipo de Partida</th>
      <th>Ronda Actual</th>
      <th>Puntuacion CT</th>
      <th>Puntuacion T</th>
      
    </tr>
    
    <tr>
      <td id="nombreMapa"></td>
      <td id="tipoPartida"></td>
      <td id="RondaActual"></td>
      <td id="puntosCT"></td>
      <td id="puntosT"></td>
     
    </tr>
   
   
  </table>

  <script>
    var io = io();
   
    io.on("update", function(status) {
     
    
      document.getElementById("activity").innerHTML=status.player_id.Actividad;
      document.getElementById("dato").innerHTML="Arma equipada: "+status.Armas.ArmaEquipada;
      document.getElementById("ammo").innerHTML="Balas: "+status.Armas.MunicionRestanteArma1;

      document.getElementById("tipoPartida").innerHTML=status.Mapa.TipoDePartida;
      document.getElementById("nombreMapa").innerHTML=status.Mapa.NombreDeMapa;
      document.getElementById("RondaActual").innerHTML=status.Mapa.RondaActual;

      document.getElementById("puntosCT").innerHTML=status.Mapa.PuntuacionCT;
      document.getElementById("puntosT").innerHTML=status.Mapa.PuntuacionT;

      
      
});





  </script>

<canvas id="myChart" style=" height:10vh; width:100vw"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ 'Blue'],
        datasets: [{
            label: 'Stats',
            data: [0],
            backgroundColor: [
               
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
               
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

io.on("update", function(status) {
    var kills= status.StatsPlayer.kills;
        myChart.data.datasets[0].data[0] = kills
  
        myChart.update();


});


</script>


</body>
</html>