<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="mt-5" id="nombreMapa">MapName</h1>
            </div>
        </div>
        <div class="row col-md-11 mt-5 mx-auto  " >
           <div class="col-2 border" >
               <h5 class="pt-2 d-flex justify-content-center">Tipo de Partida</h5>
           </div>
           <div class="col-10 border" >
            <h5 class="pt-2 ">Nombre</h5>
        </div>
        </div>
        <div class="row  col-md-11  mx-auto " >
            <div class="col-6 border" >
                <h5 class="pt-2 d-flex justify-content-center ">CT</h5>
            </div>
            <div class="col-6 border" >
             <h5 class="pt-2 d-flex justify-content-center">T</h5>
         </div>
         </div>
         <div class="row  col-md-11  mx-auto " >
            <div class="col-12 border" >
                <h5 class="pt-5 mb-5 d-flex justify-content-center ">Ronda Actual</h5>
                <div class="col-2 mx-auto" >
                    <h5 class=" d-flex justify-content-center border">00:00</h5>
                    
                </div>
            </div>  
         </div>

         <div class="row pt-4  col-md-11  mx-auto  ">
            <div class="col-6 border "  >
                <h5 class="pt-2 d-flex justify-content-center ">Arma 1</h5>
            </div>
            <div class="col-6 border" >
             <h5 class="pt-2 d-flex justify-content-center">Arma 2</h5>
         </div>
         </div>
         <div class="row col-md-11  mx-auto border  ">
            <div class="col-12" >
                <h5 class="pt-2 d-flex justify-content-center">Gagdet</h5>
            </div>
           
         </div>
    
      

</body>
</html>